<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.StudentsAttendanceSystemFacialRecognition">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentsEmails"></activity>
        <activity android:name=".AllStudentsAbsentsAndAttenance" />
        <activity android:name=".editAttendanceSheet" />
        <activity android:name=".ShowAttendanceSheet" />
        <activity android:name=".AttendanceSheetSelect" />
        <activity android:name=".ConfirmAttendeeStudentList" />
        <activity android:name=".attendeeStudentsList" />
        <activity android:name=".confirmAttendee" />
        <activity android:name=".ChooseCourseDetectdNames" />
        <activity android:name=".SelectCourseTrain" />
        <activity android:name=".MainActivityStudents" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Recognise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".DetectedNames"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Training"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>